.language_list
  - @languages.each do |lang|
    .language{ class: "#{lang.name.parameterize} #{cycle('diamond-tiles', 'dingy-yellow-wall')}" }
      = link_to(language_path(lang.id)) do
        %p.lang-endonym= lang.endonym
        %p= lang.name || 'Unknown'
