%main
  %h2{class: 'mb-5'}
    - if @language
      = @language.name
      = ' - '
    = 'Los Angeles Area Ethnic Churches'
  #map
  %script
    = render partial: 'map', formats: [:js]
  = render 'ethnic_churches/list'
