.row.justify-content-center
  .jumbotron.col-9
    .col-2
      = form_for @ethnic_church do |f|
        = f.label :name
        = f.text_field :name
        = f.label :phone
        = f.text_field :phone
        = f.label :website
        = f.text_field :website
        = f.label :pastors_name
        = f.text_field :pastors_name
        = f.label :email
        = f.text_field :email
        = f.fields_for :language do |lang|
          = lang.label :language
          = lang.collection_select :name, Language.order(:name), :name, :name, { selected: @ethnic_church.languages.pluck(:name) }, multiple: true
        = f.fields_for :country, @ethnic_church.country do |country|
          = country.label :country
          = country.text_field :name
        = f.fields_for :religious_background, @ethnic_church.religious_background do |religious_background|
          = religious_background.label :religious_background
          = religious_background.text_field :persuasion
        = f.fields_for :address, @ethnic_church.address do |address|
          = address.label :street
          = address.text_field :street
          = address.label :city
          = address.text_field :city
          = address.label :zip
          = address.text_field :zip
        = f.fields_for :note, @ethnic_church.note do |note|
          = note.label :note
          = note.text_field :content
        = f.submit 'Create', class: 'btn btn-primary', id: 'create'
