%p= @ethnic_church.name
%p= @ethnic_church.website
%p= @ethnic_church.address.street
%p= @ethnic_church.language.name
%p= @ethnic_church.country.name
%p= @ethnic_church.religious_background.persuasion
