.row.justify-content-center
  .jumbotron.col-9
    %h2#church_name= @ethnic_church.name
    %h3.title-with-emphasis Website:
    %p#website= @ethnic_church.website || '-'

    %h3.title-with-emphasis Address:
    %p#address= @ethnic_church.address.full_address || '-'

    %h3.title-with-emphasis Phone:
    %p#phone= @ethnic_church.phone || '-'

    %h3.title-with-emphasis Email:
    %p#email= @ethnic_church.email || '-'

    %h3.title-with-emphasis Pastor:
    %p#pastors_name= @ethnic_church.pastors_name || '-'

    %h3.title-with-emphasis Languages:
    %p#language= @ethnic_church.languages.first.name || '-'

    %h3.title-with-emphasis Associated Country:
    %p#country= @ethnic_church.country.name || '-'

    %h3.title-with-emphasis Religious Background:
    %p#religious_background= @ethnic_church.religious_background.persuasion || '-'

    %h3.title-with-emphasis Notes:
    %p#note= @ethnic_church.note.try(:content) || '-'
