%main
  %h2{class: 'mb-5'}
    - if @language
      = @language.name
      = ' - '
    = 'Los Angeles Area Ethnic Churches'
  %table{class: 'table table-striped'}
    %thead
      %tr
        %th
          %strong Church Name
        %th Language
        %th City
        %th Website
    %tbody
      - @ethnic_churches.each do |church|
        %tr
          %td= link_to(church.name, ethnic_church_path(church))
          %td.language-name= church.languages.map(&:name).join(', ')
          %td= church.address.city
          %td= church.website
  = paginate @ethnic_churches
%footer
  - if admin_signed_in?
    = link_to('Logout', destroy_admin_session_path, method: :delete)
  - else
    = link_to('Admin Login', new_admin_session_path)
