%div{class: 'container-fluid'}
  %div{class: 'row'}
    %nav{class: 'col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar'}
      %p.title-with-emphasis
        %strong
          Languages
      - @languages.each do |lang|
        %p= link_to(lang[:name] || 'Unknown', language_path(lang[:id]))
    %main{role: 'main', class: 'col-sm-9 ml-sm-auto col-md-10 primary-content'}
      %div{class: 'table-responsive'}
        %h2{class: 'mb-5'}
          - if @language
            = @language.name
            = ' - '
          = 'Los Angeles Area Ethnic Churches'
        %table{class: 'table table-striped'}
          %thead
            %tr
              %th
                %strong Church Name
              %th Language
              %th City
              %th Website
          %tbody
            - @ethnic_churches.each do |church|
              %tr
                %td= link_to(church.name, ethnic_church_path(church))
                %td.language-name= church.languages.map(&:name).join(', ')
                %td= church.address.city
                %td= church.website
        = paginate @ethnic_churches
%footer
  - if admin_signed_in?
    = link_to('Logout', destroy_admin_session_path, method: :delete)
  - else
    = link_to('Admin Login', new_admin_session_path)
