!!!
%html
  %head
    %title Ethnic LA
    = csrf_meta_tags
    = stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Passion+One', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'ethnic_churches_form', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  %body
    = link_to(root_path, class: 'logo-text') do
      %header
        = image_tag 'koreanbell.png', size: '300x164', class: 'logo-image'
        %p.logo Ethnic LA
        %p.subtitle
          %strong
            = 'An ethnographic research project locating ethnic'
            %br
            = 'groups in Los Angeles using ethnic church data'
    .row.justify-content-center
      .col-9
        - if notice
          %p#notice.alert.alert-success
            = notice
        - if alert
          %p#alert.alert.alert-danger
            = alert
    = yield
    - if show_footer?
      %footer
        - if admin_signed_in?
          = link_to('Logout', destroy_admin_session_path, id: 'logout', method: :delete)
        - else
          = link_to('Admin Login', new_admin_session_path, id: 'login')
        = ' - '
        = link_to('Attributions', attributions_path)
