!!!
%html
  %head
    %title Ethnic Churches
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      %nav{class: "navbar navbar-expand-md navbar-dark bg-dark"}
        = link_to 'Ethnic Churches', root_path, class: 'navbar-brand'
    = yield
