!!!
%html
  %head
    %title Ethnic Churches
    = csrf_meta_tags
    = stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Passion+One', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = link_to(root_path, class: 'logo-text') do
      %header
        .row.justify-content-center
          %h1.logo.col-5 Ethnic Churches
        .row.justify-content-center
          %p.subtitle.col-5
            %strong
              = 'An ethnographic research project locating ethnic'
              %br
              = 'groups in Los Angeles using ethnic church data'
    .row.justify-content-center
      .col-9
        - if notice
          %p#notice.alert.alert-info
            = notice
        - if alert
          %p#alert.alert.alert-warning
            = alert
    = yield
